Django==1.3.1
docutils==0.8.1
psycopg2==2.4.2
Fabric==1.3.2
South==0.7.3
gunicorn==0.13.4
newrelic==1.0.2.130
django-celery==2.4.2
django-storages==1.1.3
boto==2.1.1
pylibmc==1.2.2
git+https://github.com/craigkerstiens/django-pylibmc.git
